/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
#container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
